body {
   background: #f1f1f1;
}
img.logo {
   width: 70px;
   height: : 70px;
}
/*navbar*/
.nav-bar{
   margin: 0 auto;
   display: flex;
   justify-content: space-around;
   width:90%;
   background: #dedede;
}
.nav-list{
/*display: flex;*/



}

.nav-item{
   list-style: none;
}
.nav-list a{
   text-decoration: none;
   padding: 5px;
   color:#000 ;
   margin: 0;

}
.nav-list a:hover{
   color:red;
}
